{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

  <h1  > Welcome, <em>{{ current_user.email }}</em>!</h1>


  <h3> Rank a purchased product ? </h3>





  <form id="x" class="form" role="form" method="post" action="">

    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}


    <div class="col-lg-4 col-sm-4">

      {{ wtf.form_field(form.prod) }}
      {{ wtf.form_field(form.rank) }}

      <button  class="btn btn-success" type="submit">Rank Product</button>
</div>
  </form>






    <div class="container">



<div id="picture">
</div>
</div>





{% endblock %}
