{% extends "_base.html" %}

{% block content %}

<div class="body-content">
  <div class="row">
    <h1>Welcome!</h1>
  </div>
  <br></br>

  <h2 id="products-top">Our top rated products:</h2>

  <!--Start of images-->


  <div class="img">
    <a target="_blank" href="sony.jpg">
      <img src= {{ url_for('static', filename = 'apple.png') }} width="16" height="16" alt="previous" title="Previous" border="0">
    </a>
    <div class="desc">Sony PX440 Digital Voice Recorder - Black</div>
  </div>


  <div class="img">
    <a target="_blank" href="sony.jpg">
      <img src= {{ url_for('static', filename = 'sony.png') }} width="16" height="16" alt="previous" title="Previous" border="0">
    </a>
    <div class="desc">Sony PX440 Digital Voice Recorder - Black</div>
  </div>


  <div class="img">
    <a target="_blank" href="sony.jpg">
      <img src= {{ url_for('static', filename = 'canon.jpg') }} width="16" height="16" alt="previous" title="Previous" border="0">
    </a>
    <br></br>
    <div class="desc"> CANON PowerShot G5 X High Performance Compact Camera - Black </div>
  </div>

  <div class="img">
    <a target="_blank" href="sony.jpg">
      <img src= {{ url_for('static', filename = 'hp.jpg') }} width="16" height="18" alt="previous" title="Previous" border="0">
    </a>
    <br></br>
    <div class="desc">HP 15-af151sa 15.6" Laptop - Silver</div>
  </div>


<!---end of images-->
</div>


{% endblock %}
